html,body{
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    /*min-width: 1200px;*/
    background:  rgb(88,108,128);
    color: white;
    /*margin-bottom: 100px;*/
}
a, a:hover, a:active, a:focus, a:visited,
i, i:hover, i:active, i:focus, i:visited,
.btn, .btn:hover, .btn:active, .btn:focus, .btn:visited {
    outline: 0;
    outline: none;
    outline-style: none;
    text-decoration: none;
    /*color: black;*/
}
.btn {
    background: rgba(200,200,200,1);
    padding: 0;
    margin: 0;
    border: 0;
    color: black;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
            box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    -webkit-transition: none;
        -moz-transition: none;
            transition: none;
}
.btn:hover {
    /*background: rgba(255,255,255,0.25);*/
    color:rgb(66,139,202);
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
        -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
            box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}
.btn:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.75), 0 1px 0 rgba(255,255,255,0.75);
        -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.75), 0 1px 0 rgba(255,255,255,0.75);
            box-shadow: inset 0 2px 4px rgba(0,0,0,0.75), 0 1px 0 rgba(255,255,255,0.75);
}
.divider {
    height: 1px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    margin: 1px 2.5%;
}

#overlay {
    display:none;
    height: 100%; 
    width: 100%;
    float:left;
    position:fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
}

    #tutorial {
        width: 400px;
        height: 300px;
        background: rgba(255,255,255,1);
        position: absolute;
        top:100px;
        left:100px;
    }
        #tutorial_text {
            height: 250px;
            width:100%;
            padding:10px;

        }
        #tutorial_button {
            width:100%;
            text-align: center;
        }
            #tutorial_button button {
                width: 100px;
                color:black;
            }

/*
 *
 * MAP SECTION 
 *
 */

#map_container {
    height: 100%; 
    width: 100%;
}
    /* MAP OPTIONS */

    #map_options {
        width:400px;
        border-top: 0;
        background: white;
        position:absolute;
        top:0;
        right:20px;
        z-index: 555;
        color: black;
    }
        #map_options_content {
            height: 350px;
            width: 100%;
            display: block;
            border: 1px solid black;
            border-top: 0;
            border-bottom: 0;
            background: white;
        }
            #boundary_options{
                padding-top: 10px;
                margin-bottom: 20px;
                height:25px;
                font-size: 12px;
            }
                #boundary_options>div{
                    display: inline-block;
                    width:50%;
                    float:left;
                    text-align: center;
                }
                #boundary_options select{
                    color:black;
                    text-align: center;
                    width:150px;
                }

            #method {
                display:none;
                padding: 10px;
                font-size: 10px;
            }
                #method li {
                    padding: 0 5px
                }
                .nav-tabs > li > a,
                .nav-tabs > li > a:hover,
                .nav-tabs > li > a:active,
                .nav-tabs > li > a:focus {
                    color: rgba(66,139,202,1);
                    background-color: transparent;
                    border-top:0;
                    border-right:0;
                    border-left:0;
                }
                .nav-tabs > li.active > a,
                .nav-tabs > li.active > a:hover,
                .nav-tabs > li.active > a:focus {
                    color: white;
                    cursor: default;
                    background-color: rgba(66,139,202,1);
                    border: 1px solid #dddddd;
                    border-bottom-color: transparent;
                }
                .nav_inactive {
                    color: rgb(200,200,200);
                }

            .method {
                display: none;
                width:90%;
                margin:10px 5%;
            }
                #start {
                    text-align: center;
                }
                    #start_message {
                        padding: 10px;
                        text-align:center;
                    }
                    #start_option {

                    }
                    #start_submit {
                        display: none;
                        /*width: 90%;*/
                        margin-top: 25px;
                        text-align: center;
                    }
                        #start_submit button{
                            width: 100px;
                            height: 50px;
                        }

                    #start_advanced {
                        width:50px;
                        height: 50px;
                        position: absolute;
                        bottom:10px;
                        right:10px;
                        /*background: black;*/
                    }
                        #start_advanced a {
                            width: 50px;
                            height: 50px;
                            text-align: center;
                            vertical-align: middle;
                        }
                            #start_advanced a span {
                                font-size:36px;
                                position: relative;
                                top:7px;
                            }

                #weights{

                }
                    .ro {
                        margin: 1% 0;
                        display: block;
                    }
                        #weights select {
                            width: 80%;
                            float: left;
                        }
                        #weights input {
                            width: 15%;
                            text-align: center;
                            float: right;
                            margin-top: 1%;
                        }
                        #weights_submit {
                            width:90%;
                            position: absolute;
                            bottom:10px;
                            text-align: center;
                            display: none;
                        }
                            #weights_submit button {
                                width: 100px;
                                height: 30px;
                            }

                        #weights_csv {
                            display: none;
                            position: absolute;
                            bottom: 5px;
                            right: 30px;
                            width: 30px;
                            height: 30px;
                        }
                           #weights_csv a {
                                /*position: relative;*/
                                /*top: 10px;*/
                                /*left: 0px;*/
                                width: 30px;
                                height: 30px;
                                text-align: center;
                                vertical-align: middle;
                            }
                                #weights_csv a span {
                                    font-size:20px;
                                    position: relative;
                                    top: 5px;
                                }

                #gapanalysis {}

                    #gapanalysis div {
                        margin: 1% 0;
                    }   
                        #gapanalysis span {
                            display: block;
                        }
                        #gapanalysis select {
                            width:100%;
                        }
                        #gapanalysis a {
                            margin-left: 20px;
                            cursor: pointer;
                        }

                    #gapanalysis_option_2 {
                        padding-top:10px;
                    }

                    #gapanalysis_buttons {
                        display: none;
                        width: 100%;
                        /*height: 50px;*/
                        /*position: absolute;*/
                        /*bottom:60px;*/
                        padding: 10px;
                        /*border: 1px solid rgba(0,0,0,0.5);*/
                        /*border-radius: 10px;*/
                        text-align: center;
                        /*clear:both;*/
                    }
                        #gapanalysis_buttons a {
                            /*float: left;*/
                            width: 90px;
                            height: 50px;
                            margin: 10px;
                            text-align: center;vertical-align: middle;
                        }
                            #gapanalysis_buttons span {
                                margin-top: 5px;
                            }

                    #gapanalysis_submit {
                        width:90%;
                        position: absolute;
                        bottom:10px;
                        text-align: center;
                        display: none;   
                    }
                        #gapanalysis_submit button {
                            width: 200px;
                            height: 30px;
                        }

                #pointdata {
                    /*#data_options{*/
                    /*display: block;*/
                    clear:both;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    position: relative;
                }
                    #clear_points {
                        width:50px;
                        height: 50px;
                        position: absolute;
                        top:0;
                        right:10%;
                        font-size: 10px;
                    }
                        #clear_points button {
                            background: rgba(0,255,255,1);
                            border: 1px solid rgba(0,0,0,0);
                            border-radius: 10px;
                        }
                        #clear_points button:hover {
                            -moz-box-shadow:    inset 0 0 5px rgba(0,0,255,1);
                            -webkit-box-shadow: inset 0 0 5px rgba(0,0,255,1);
                            box-shadow:         inset 0 0 5px rgba(0,0,255,1);
                        }
                        #clear_points button:active {
                            -moz-box-shadow:    inset 0 0 5px rgba(0,255,0,1);
                            -webkit-box-shadow: inset 0 0 5px rgba(0,255,0,1);
                            box-shadow:         inset 0 0 5px rgba(0,255,0,1);
                        }

                    #data_type{
                        padding-bottom: 20px;
                    }
                        #data_type ul{
                            width: 100%;
                            /*margin-left: 10%;*/
                            padding: 0;
                        }
                            .menu_item {
                                display: inline-block;
                                text-decoration: none;
                                padding:5px;
                                width: 25%;
                                text-align: center;
                                border: solid 1px black;
                                border-collapse: collapse;
                            }
                            .menu_item:hover{
                                cursor:pointer;
                                background-color: rgba(120,150,170,0.5);
                            }
                            .active_menu{
                                background-color: rgba(120,150,170,1);
                            }
                            .menu_item>div{
                                padding-top: 15px;
                                -webkit-touch-callout: none;
                                -webkit-user-select: none; 
                                -khtml-user-select: none; 
                                -moz-user-select: none; 
                                -ms-user-select: none;
                                -o-user-select: none; 
                                user-select: none; 
                            }

                    #slider_container{
                        /*width: 75%;*/
                        height: 50px;
                        position: relative;
                        text-align: center;
                    }
                        .slider_sub{
                            width:100%;
                            margin: auto;
                        }
                        #slider{}
                        #slider_bot span { 
                            width:33%; 
                            position:relative; 
                            top: 10px; }
                        #slider_min { right: 30%; }
                        #slider_max { left: 30%;}
                        #slider_value {}

            #map_options_message {
                padding: 10px;
                text-align:center;
            }

        #map_options_popover {
            display: none;
            width:225px;
            height:200px;
            padding: 10px;
            position:absolute;
            left:0px;
            top:25px;
            background: rgba(200,200,200,1);
            border: 1px solid black;
            border-right: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            cursor:pointer;
            z-index: -122;
        }
            #popover_text {
                height: 75%;
                color:black;
                font-size: 12px;
                overflow-y:auto; 
            }
            #tutorial_start {
                width:205px;
                position: absolute;
                bottom: 10px;
                text-align: center;
            }
            #tutorial_start button {
                width:75px;
            }

        #map_options_toggle {
            display: block;
            height: 25px;
            width: 100%;
            position: absolute;
            bottom:-25;
            background: rgba(210,210,210,1);
            border: 1px solid black;
            border-top: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            text-align: center;
            cursor: pointer;
        }
            #map_options_toggle span{
                position: relative;
                top:4px;
                left: 192px;
            }

    /* MAP ACTUAL*/

    #map{ 
        height: 100%; 
        width: 100%;
        display:inline-block;
    }
        .leaflet-control-layers {
            position: fixed;
            top: 5px;
            left:100px;
        }
        .leaflet-top, .leaflet-bottom {
            position: absolute;
            z-index: 10;
            pointer-events: none;
        }
        .leaflet-bar-part{
            text-align: center;
        }
        .legend {
            width: 150px;
            line-height: 20px;
            color: #555;
        }
        #legend_title {
            margin-bottom: 5px;
            font-weight: bold;
        }
        .legend i {
            width: 20px;
            height: 15px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }
        .geocode-cluster{
            background: #9FE5F8;
            background:rgba(159, 229, 248, 0.5);
            border:1px solid black;
            border:1px solid rgba(0, 0, 0, 0.5);
            border-radius:50%;
        }
        .geocode-cluster div{
            text-align:center;
            line-height:0%;
            position:relative;top:50%;
        }
        #map_table{
            margin: 5px;
        }
            #map_table tr{
                text-align: center;
                padding: 5px;
            }
            #map_table td{
                padding: 3px;
                border: 1px solid black;
                border-collapse: collapse;
            }

    /* MAP CHART */

    #map_chart_container {
        height: 200px;
        position: absolute;
        left: 0px;
        top:100px;
        /*top:50%;*/
        /*margin-top: -100px;*/
    }
        .highcharts-container { 
            overflow: visible !important; 
        }

        #map_chart_tooltip {
            background: rgba(255,255,255,1);
            border: 1px solid rgba(66,139,202,1);
            padding: 10px;
            position: relative;
            top:200px;
            z-index: 9999;
        }

        #map_chart_tooltip {
            padding:0;
            margin:0;
        }
            #map_chart_tooltip ul li {
                padding: 0;
            }

        #map_chart {    
            display:none;
            width:350px;
            height: 100%;
            background: white;
            border: 1px solid black;
            border-left:0;
            border-right: 0;    
            padding-top: 5px;    
        }
            #map_chart_message {
                padding:25px;
                text-align: center;
                color:black;
            }

        #map_chart_toggle {
            display: none;
            height: 100%;
            width: 25px;
            /*display: block;*/
            position: absolute;
            top:0;
            right:-25px;
            background: rgba(210,210,210,1);
            border: 1px solid black;
            border-left: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            text-align: center;
            cursor: pointer;
        }
            #map_chart_toggle span{
                position: relative;
                left:4px;
                top: 96px;
            }

    #map_layers_container {
        display:none;
        height:25px;
        position:fixed;
        top:0;
        left:75px;
        border:1px solid black;
        border-top:0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: rgba(210,210,210,1);
        color:black;
    }

        #map_layers label {
            display: inline-block;
            padding: 0px 10px;
        }

            #map_layers input {
                margin-right: 5px;
            }

    /* ANALYSIS TAB */

    #analysis_tab {
        display: none;
        height:40px;
        width:150px;
        background: rgba(66,139,202,1);
        position: absolute;
        bottom: 50px;
        left:50%;
        margin-left: -75px;
        border: 0px solid white;
        border-bottom: 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        cursor: pointer;
    }
        #analysis_tab div {
            width: 150px;
            padding-top: 10px;
            text-align: center;
        }

/*
 *
 * ANALYSIS SECTION 
 *
 */

#analysis {
    display: none;
    width:100%;
    min-height: 100%;
    position: relative;
    /*top: -5px;*/
    /*background: rgba(122,122,122,1);*/
}

    #analysis_title{
        display: none;
        height:40px;
        width:150px;
        background: rgba(66,139,202,1);
        position: absolute;
        left:50%;
        margin-left: -75px;
        border: 0px solid white;
        border-top: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        cursor: pointer;
    }
        #analysis_title div {
            width: 150px;
            padding-top: 10px;
            text-align: center;
        }

    #map_size {
        float: right;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50px;
        height: 50px;
        background: transparent;
    }
        #map_size a {
            position: relative;
            top: 10px;
            left: 0px;
            width: 40px;
            height: 40px;
            text-align: center;
            vertical-align: middle;
        }
            #map_size a span {
                font-size:30px;
                position: relative;
                top: 5px;
            }

    #analysis_results {
        width:100%;
        min-height: 500px;
        position: absolute;
        top:70px;
        padding-bottom: 300px;
    }
        .analysis_chart {
            height: 400px;
            width: 1200px;
            position: relative;
            left:50%;
            margin-left: -600px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

